.noose {
	transform-origin: top;
	height: 60vh;
	position: absolute;
	left: 50%;
	top: 0;
	filter: blur(1px);
	opacity: .6;
	z-index: -1;
}

.noose--with-intro {
    animation: .5s ease-in 0s 1 normal both fade-in,
		1s ease-in-out 3s 1 normal both noose-fade-out,
		15s ease-in-out 0s 1 normal both noose-sway;
}

.noose__svg {
	height: 100%;
	transform: translate(-50%, -1%);
	fill: var(--color-brown);
}

@keyframes noose-fade-out {
	0% {
		opacity: 1;
		filter: none;
	}

	100% {
		opacity: .5;
		filter: blur(1px);
	}
}

@keyframes noose-sway {
	0% {
		transform: rotate(7deg);
	}

	14% {
		transform: rotate(-6deg);
	}

	28% {
		transform: rotate(5deg);
	}

	42% {
		transform: rotate(-4deg);
	}

	56% {
		transform: rotate(3deg);
	}

	70% {
		transform: rotate(-2deg);
	}

	84% {
		transform: rotate(1deg);
	}

	100% {
		transform: rotate(0deg);
	}
}