.game {
	display: grid;
	grid-template-columns: 30% 65%;
	grid-template-rows: auto auto;
	grid-column-gap: 5%;
	align-items: center;
    max-width: 50em;
	width: 100%;
    margin: 0 auto;
}

.game--play-intro {
	animation: 1s ease-in-out 0s 1 normal both fade-in;
}

.game--play-outro {
	animation: 1s ease-in-out 0s 1 normal both fade-out;
}

.diagram {
	width: 100%;
}

.phrase, .keyboard {
	width: 100%;
}

@media (max-width: 39.99em) {
	.keyboard, 
	.game-results {
		grid-column: 1 / span 2;
	}
}

@media (min-width: 40em) {
	.game {
		grid-template-columns: 30% 68%;
		grid-template-rows: auto auto;
		grid-column-gap: 2%;
		align-items: start;
	}

	.diagram {
		grid-row: 1 / span 2;
	}
}