.page-title {
	font-size: 2em;
	margin: 0 0 1em 0;
	text-align: center;
}

.modal-title {
	font-size: 2em;
	margin: 0 0 .25em 0;
	text-transform: uppercase;
}

.modal-subtitle {
	font-size: 1.625em;
	margin-bottom: .5em;
}

@media (min-width: 30em) {
	.page-title {
		font-size: 2.5em;
	}

	.modal-title {
		font-size: 2.5em;
	}

	.modal-subtitle {
		font-size: 2em;
	}
}