.button {
    display: inline-block;
	padding: .625em 1em;
	text-decoration: none;
    border: 0;
	border-radius: .125em;
	font-size: 1em;
	font-family: var(--font-family-primary);
	text-transform: uppercase;
	cursor: pointer;
	transition: background-color .25s ease-in,
		color .25s ease-in;
}

.button, .button:visited {
	background-color: var(--color-brown);
	color: var(--color-white);
}

.button:hover, .button:focus {
	background-color: var(--color-brown-light);
}

.button:active, .button--active {
	background-color: var(--color-brown-dark);
}

.button:disabled {
	opacity: .35;
	cursor: not-allowed;
}

.button:disabled:hover, 
.button:disabled:focus, 
.button:disabled:active {
    background-color: var(--color-brown);
	color: var(--color-white);
    transform: none;
}

.button--alt {
    border: .125em solid var(--color-brown);
    padding: .5em .875em;
}

.button--alt, 
.button--alt:visited {
	background-color: var(--color-white);
	color: var(--color-brown);
}

.button--alt:hover, 
.button--alt:focus,
.button--alt:active {
	color: var(--color-white);
}

.button--alt:hover, 
.button--alt:focus {
	background-color: var(--color-brown);
}

.button--alt:active {
	background-color: var(--color-brown-dark);
}

.cajole {
	animation: 5s linear 0s infinite alternate both shake;
}

.cajole:hover,
.cajole:focus {
	animation: none;
}

@keyframes shake {
	35% {
		transform: rotate(0);
	}
	37.5% {
		transform: rotate(2deg);
	}
	42.5% {
		transform: rotate(-2deg);
	}
	47.5% {
		transform: rotate(2deg);
	}
	52.5% {
		transform: rotate(-2deg);
	}
	57.5% {
		transform: rotate(2deg);
	}
	62.5% {
		transform: rotate(-2deg);
	}
	65% {
		transform: rotate(0);
	}
}